/* Estilo general del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faeaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


/* Estilo del contenedor del producto */
.producto-container {
    background-color: #faeaaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

/* Estilo del título del producto */
.producto-container h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilo de la imagen del producto */
.producto-imagen {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilo de la descripción del producto */
.producto-descripcion {
    margin-bottom: 20px;
    color: #666;
}

/* Estilo del enlace para volver a la tienda */
.volver-tienda {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.volver-tienda:hover {
    background-color: #0056b3;
}
